$primary-color: #333333FF;
$secondary-color: #FFD700FF;
$delete-color: #DC3545FF;
$border-color: #DDDDDDFF;
$hover-table-row-color: #f5f5f5;
$completed-table-row-color: #afafaf;
$completed-hover-table-row-color: #999999;